/* ---------- GENERAL STYLES ---------------*/
* {
    box-sizing: border-box; /*wszytskie elementy będą włączały padding oraz border do kalkulowanego rozmiaru pudła*/
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

.important {
font-weight:600 ;
}

.noNormalizeMargin {
    margin-inline-start: 0;
    margin-inline-end: 0;
} 

/* ---------- LINKS ---------------*/
a:link {
    color: darkgreen;
}

a:visited {
    color: darkgreen;
}

.mainNav a:visited {
    color: white;
}

a:hover {
    font-style: italic;
}

.logoLink img:hover {
    border: white 1px solid;
    border-radius: 50%;
}

a:focus {
    color:white;
    background-color: green;
}

.logoParent a:focus {
    background-color: #569b73;
}

.presentPage {
    border: greenyellow solid 1px;
}

/* ---------- NAB BAR ---------------*/

nav li {
    display: inline-block;
}

.navLinks {
    background-color: black;
    padding: 10px;
    border-radius: 7%;
    text-decoration: none;
    font-size: 1.3em;
}

nav li a:link {
    color: white;
}

nav li a:visited {
    color: gray;
}

nav {
    width: 100%;
    background-color: none;
}

/* ---------- HEADER ---------------*/

header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #569b73;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    max-height: 45px;
    margin: auto; 
}

/* ---------- BODY STYLES ---------------*/

body {
    background-color: #141407;
    margin-bottom: 100; /* ---------- to chyba jakiś błąd do naprawienia?? #141407 poprzedni color---------------*/
}

.matchTips li {
    padding: 0 27% 0 27%;
    text-align: justify;
}

.teamsListTitle {
    font-size: 1.3em;
}

.matchDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}

.hostMatches {
    padding-left: 50%;
}

.guestMatches {
    padding-right: 50%;
}

.hostMatches h3,
.guestMatches h3,
.hostMatches ul li,
.guestMatches ul li {
    margin-bottom: 10px;
}

#matchTipsHeader {
    margin-bottom: 8px;
}

.bodyDiv{
    width: 70%; /* NOT MOBILE FIRST!! */
    margin: auto;
    min-height: calc(100vh - 170px);
    background-color: #070d07;
    color: white;
}

/*---------- Images size in gallery ------------------*/
.gridGallery img,
.gridGallery iframe {
    border: black 2px solid;
    max-width: 100%;
    margin-bottom: 15px;
}

/*---------- Images size in rugby section ------------------*/
.rugbyImg {
    max-width: 100%;
    height: auto;
}

/*---------- MAIN PAGE ------------------*/
.welcome h2 {
    margin: 16px auto 8px;
}

.welcome p {
    margin: 8px auto 16px;
}

#teamName {
    margin-top:  0px;
}

.news h2 {
    margin: 12px auto 0px;
}

.news p {
    margin: 8px auto 8px;
}

.news article {
    margin-bottom: 18px;
}

.footer {
    background-color: darkkhaki;
    position: relative;
    bottom: -3px;
}

.footer p {
    margin: 0;
    padding-top: 14.2px;
    padding-bottom: 14.1px;
    color: black;
    font-weight: 600;
}

hr {
    position: relative;
    bottom: -4px;
    margin-bottom: 0;
    background-color: #2a2e0c;
}

/* ---------- MAIN PHOTO ---------------*/
.mainPhoto {
    border-radius: 5px;
    max-width: 95%;
    margin-top: 5px;
}

.photoAndMainContent, .treningi, .kontakt, .rugby {  /*-- style dla podstrony  dla monitorów PC--*/
    margin-top: 60px;
}

/* ---------- Web Fonts ---------------------*/
@font-face {
    font-family: 'Anolition Regular';
    src: url() format('woff');
}

/*---- trenings section ----*/

.treningi {
    padding: 5px 20px;
}

#sectionsRemarks {
    margin-top: 0.5em;
}

#sectionsRemarks li{
    text-align: justify;
}

.AdditionalInfo p {
    text-align: justify;
}

#importantTip {
    margin-top: 1px; 
}

#importantTip span {
    font-weight: 700;
}

.clothing ul li {
    text-align: justify;
}

.clothing p {
    margin-bottom: 3px;
    text-align: justify;
}

/*---- gallery title ----*/

.galeryTitle {
    margin-bottom: 8px;
}

.galleryParagraph {
    margin: 8px auto;
}

/*---- rugby section ----*/

#rugbyDescription p, 
#rugbyDescription h2,
#rugbyDescription h3 {
    text-align: justify;
}

#rugbyDescription {
    padding: 5px 20px;
}

.hide {
    display: none;
}

.sectionsBtn {
    margin-top: 15px;
}

/* ---------- Media Queries ---------------------*/
/* ---------- To (max-width: 576px) chyba powinno być w podstawowych stylach jako mobile first---------------------*/

@media screen and (max-width: 576px) {
    .navLinks {
        font-size: 0.6em;
        padding: 4px;
    }

    .gridGallery img,
    .gridGallery iframe {
        border: black 2px solid;
        max-width: 90%;
        margin-bottom: 15px;
    }

    .gridGallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2%;
        padding: 0 2%;
    }

    .map {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
    }

    .logoParent {
        max-width: 50px;
        margin: 8px 5px 3px 5px;
    }

    .mainPhoto {
        max-width: 90vw; /*gdy ma 80vw to jest na środku ale to chyba nie od tego zależy - do poprawy */
    }

    .bodyDiv{
        width: 95%;
        min-height: calc(100vh - 120px);
    }

    .guestMatches {
        padding-right: 5px;
    }
    .hostMatches {
        padding-left: 5px;
    }

    .matchTips li {
        padding: 5px;
    }
}

@media screen and (min-width: 577px) and (max-width: 899px) {
    header {
        height: 75px;
    }

    .photoAndMainContent, .treningi, .kontakt, .rugby { 
        margin-top: 85px; /* ---------- distance of site content bellow the top of site and the navbar ---------------------*/
    }

    .logo {
    max-height: 75px;
    position: relative;
    top: 2px;
    }
    
    .navLinks {
        font-size: 1em;
        padding: 4px;
        margin-left: 10px;
    }

    .ulNav:first-child {
        margin-left: -30px;
    }

    .ulNav:last-child {
        margin-right: 20px;
    }
    
    .bodyDiv{
        width: 80%;
        min-height: calc(100vh - 145px);
    }

    .map {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
    }

    .gridGallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
        padding: 0 2%;
    }

    .guestMatches {
        padding-right: 5px;
    }
   
    .hostMatches {
        padding-left: 5px;
    }
    
    .matchTips li {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (orientation: landscape)  and (max-height: 576px) {
    header {
        z-index: auto;
        position: static;
    }

    .photoAndMainContent, .treningi, .kontakt, .rugby { 
        margin-top: 10px; /* ---------- distance of site content bellow the top of site and the navbar ---------------------*/
    }
}

@media screen and (min-width: 900px) {
        
    header {
        height: 100px;
    }

    .logo {
        max-height: 95px;
        position: relative;
        top: 2px;
    }
    
    .logoParent {
        margin-left: 20%;
    }
    
    .mainNav {
        max-width: 50%;
    }

    .ulNav {
        display: flex;
        justify-content: flex-start;
    }

    .ulNav:first-child {
        margin-left: auto;
    }

    .ulNav:last-child {
        margin-right: auto;
    }

    .navLinks{
        padding: 10px;
        margin-left: 20px;
    }

    .photoAndMainContent, .treningi, .kontakt, .rugby {  /*-- style dla podstrony  dla monitorów PC--*/
        margin-top: 110px;
    }

    .photoAndMainContent figure {
        margin-bottom: 6px;
    }

    .mapaZG {
        display: block;
        max-width: 800px;
        margin: 20px auto;
        margin-top: 20px;
    }

    .gridBox {
        margin: auto 20px;
        display: grid;
        grid-template-columns: 1.1fr 1fr 1.1fr;
        grid-column-gap: 2%;
    }

    .kontakt {
        padding-top: 40px;
    }

    .gridGallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2%;
        padding: 0 2%;
    }
}
 